##this should serve as the reference version
##if packages or deps are added to the working version they should be added here too
time-1.9
tree-1.7.0
blfs-systemd-units-20180105
openssh-7.7p1 ,,,linux-pam,X,krb5
make-ca-0.8 ,,,openjdk,nss,p11-kit #runtime deps?
wget-1.19.5 ,,,gnutls,gpgme,libidn2,pcre,,,,python-2,valgrind,http::daemon,io::socket::ssl
http::daemon
net::ssleay
io::socket::ssl
valgrind ,,,boost,llvm,,,bind,gdb,which
sudo-1.8.23 ,,,linux-pam,krb5,openldap,mta
lynx-2.8.9 ,,,zip,unzip,mta,sharutils
libatomic_ops-7.6.6
gc-7.6.4
w3m-0.5.3 ,,,(gpm),imlib2,gtk2,gdk-pixbuf,compface
screen-4.6.2 ,,,linux-pam
dhcpcd-7.0.7 ,,,llvm

python-2.7.15 ,,,bluez,sqlite,tk
pycrypto-2.6.1
pyxdg-0.25
funcsigs-1.0.2
beaker-1.10.0
markupsafe-1.0
jinja2-2.10
mako-1.0.4
six-1.11.0
scour-0.37

cracklib-2.9.6
linux-pam-1.3.0 ,,,berkeley-db,libtirpc
libcap-2.25
shadow-4.6 
pcre-8.42
pcre2-10.31
glib-2.56.1 ,,, ,,,dbus,bindfs
desktop-file-utils-0.23 ,,,emacs
tcl-8.6.8
expect-5.45.4 ,,,tk
dejagnu-1.6.1 ,,,docbook-utils
autoconf-2.13
icu-62.1 ,,,llvm
nspr-4.19
zip-3.0
which-2.21
gobject-introspection-1.56.1 ,,,gtk-doc,,,cairo
systemd-239 ,,,curl,git,gnutls,iptables,libgcrypt,libidn2,libseccomp,libxkbcommon,qemu,zsh
unzip-6.0
sharutils-4.15.2
libtirpc-1.0.3 ,,,krb5
haveged-1.9.2
iptables-1.8.0
libpwquality-1.4.0
berkeley-db-5.3.28
cyrus-sasl-2.1.26 ,,,krb5,mariadb,openjdk,openldap,postgresql,sqlite
openldap-2.4.46 ,,,gnutls,pth,unixodbc,mariadb,postgresql
keyutils-1.5.10
libevent-2.1.8

encode::locale
test::needs
uri-1.74
html::tagset
html::parser-3.72
http::date
io::html
lwp::mediatypes
try::tiny
http::message
html::form
http::cookies
http::negotiate
net::http
www::robotrules
http::daemon-6.01
file::listing
test::requiresinternet
test::fatal
libwww-perl
mozilla::ca
lwp::protocol::https-6.07

ntp-4.2.8p12
rpcbind-0.2.4
krb5-1.16.1

nettle-3.4
openssl-1.0.2p
libtasn1-4.13 ,,,gtk-doc
p11-kit-0.23.13 ,,,nss,gtk-doc,libxslt



dosfstools-4.1
lzo-2.10
lvm2-2.02.177 ,,,mdadm,xfsprogs #reiserfsprogs
asciidoc-8.6.9
libxml2-2.9.8
libxml2-2.9.8 (python2)
sgml-common-0.6.3
docbook-xml-4.5
docbook-xsl-1.79.2
libxslt-1.1.32 ,,,libgcrypt
xmlto-0.0.28 ,,,fop-2.2
btrfs-progs-4.17.1
fuse-3.2.5
fuse-2.9.7
mdadm-4.0
ntfs-3g-2017.3.23
popt-1.16
gptfdisk-1.0.4
pth-2.0.7
npth-1.6
parted-3.2 ,,,texlive
smartmontools-6.6
sqlite-3.24.0
nss-3.38
unixodbc-2.3.7
apr-1.6.3
apr-util-1.6.1 ,,,mariadb,postgresql
aspell-0.60.6.1
boost-1.68.0
enchant-2.2.3 ,,,dbus-glib
exempi-2.4.5 
fftw-3.3.7
gsl-2.5
json-c-0.13.1
json-glib-1.4.2 ,,,gtk-doc
libarchive-3.3.2
libgpg-error-1.32
libassuan-2.5.1 ,,,texlive
libatasmart-0.19
libbytesize-1.4 ,,,gtk-doc
libcroco-0.6.12 ,,,gtk-doc
libdaemon-0.14
libgcrypt-1.8.3 ,,,texlive
cryptsetup-2.0.4
libksba-1.3.5
pinentry-1.1.0 ,,,emacs,gcr,gtk2,gtk3,libsecret,qt
gnupg-2.2.9 ,,,curl,gnutls,imagemagick,libusb-compat,mta,texlive
libunistring-0.9.10
unbound-1.7.3 ,,,swig
gnutls-3.5.19 ,,,gtk-doc,guile,libidn,net-tools,texlive
gpgme-1.11.1 ,,,clisp,qt,swig
c-ares-1.14.0
libidn2-2.0.5 ,,,git,gtk-doc
nghttp2-1.32.0
stunnel-5.48
libssh2-1.8.0 
curl-7.61.0 ,,,samba ##add --with-libssh2 (not in book)
liboauth-1.0.3
volume_key-0.3.11


libuv-1.22.0
cmake-3.12.1 ,,,qt,subversion
clucene-2.3.3.4
libsigc++-2.10.0
glibmm-2.56.0 ,,, ,,,glib-networking
yaml-0.1.7
libblockdev-2.16 ,,,gtk-doc
libgudev-232 ,,,gtk-doc
libusb-1.0.22
libidn-1.35 ,,,emacs,gtk-doc,openjdk
usbutils-009
vala-0.40.8 ,,, ,,,dbus
itstool-2.0.4
lua-5.3.5
highlight-3.44 ,,,qt
gtk-doc-1.28 ,,,fop
libgusb-0.3.0
libical-3.0.4
liblinear-220
libmbim-1.16.2
libnfsidmap-0.26
libpaper-1.1.24
libqmi-1.20.2
libseccomp-2.3.3
libsigsegv-2.12
libstatgrab-0.91
libusb-compat-0.1.5
libzeitgeist-0.3.18
mtdev-1.1.5
node-v9.11.2
talloc-2.1.14 ,,,gdb,git,xfsprogs
wayland-1.15.0
wayland-protocols-1.15
xapian-core-1.4.7
gmime-2.6.23 ,,,docbook-utils
gmime-3.2.0 ,,,docbook-utils
libesmtp-1.0.6


bogofilter-1.2.4
compface-1.5.2
hd2u-1.0.4
iso-codes-3.79
lsof-4.91
rarian-0.8.1



shared-mime-info-1.10
tidy-html5-5.4.0
xdg-user-dirs-0.17

pm-utils-1.4.1
acpid-2.0.30
hdparm-9.56
wireless_tools-29
rpcsvc-proto-1.4
libnsl-1.2.0
nfs-utils-2.3.2
autofs-5.1.4
cpio-2.12 ,,,texlive
fcron-3.2.1 ,,,mta,docbook-utils
##gpm-1.20.7
lm_sensors-3.40
logrotate-3.14.0
libpng-1.6.35
slang-2.3.2
mc-4.8.21 ,,,(gpm),samba,X
p7zip-16.02
pax-20161104
pciutils-3.6.2
raptor2-2.0.15
rasqal-0.9.33
redland-1.0.17 ,,,libiodbc,maria-db,postgresql
sg3-utils-1.42
sysstat-11.6.3
unrar-5.6.5



clisp-2.49
error-0.17026 ##perl module
git-2.18.0 ,,,subversion,tk
guile-2.2.4 ,,,emacs,gdb ##both runtime
librep-0.92.7
llvm-6.0.1 ,,,texlive
nasm-2.13.03
npapi-sdk-0.27.2
ruby-2.5.1 ,,,tk
gcc-8.2.0
rustc-1.25.0 ,,, ,,,gdb
scons-3.0.0
swig-3.0.12
yasm-1.3.0
gdb-8.1.1

cifs-utils-6.8 ,,,samba
ncftp-3.2.6
rsync-3.1.3
net-tools-cvs-20101030
gsettings-desktop-schemas-3.28.0
libnl-3.4.0
libpcap-1.9.0 ,,,bluez
ldns-1.7.0
libndp-1.7
glib-networking-2.56.1
libsoup-2.62.3 ,,, ,,,apache,php,samba
neon-0.30.2
serf-1.3.9
uhttpmock-0.5.1
nmap-7.70 ,,,pygtk,subversion
traceroute-2.1.0
whois-5.2.20

##python modules
docutils-0.14
lxml-4.2.4
pyyaml-3.13

babl-0.1.56
exiv2-0.26
freetype-2.9.1
harfbuzz-1.8.8 ,,,cairo,graphite
freetype-2.9.1
fontconfig-2.13.0 ,,,docbook-utils
fribidi-1.0.5
giflib-5.1.4
graphite2-1.3.12 ,,,texlive
ijs-0.35
libjpeg-turbo-2.0.0
jasper-2.0.14 ,,,freeglut
libtiff-4.0.9 ,,,freeglut
lcms-1.19
lcms2-2.9 
libexif-0.6.21
libmng-2.0.3
LibRaw-0.19.0
libwebp-1.0.0 ,,,freeglut
newt-0.52.20
##openjpeg-1.5.2 -- no longer in blfs book
openjpeg-2.3.0
pixman-0.34.0 ,,,gtk2
potrace-1.15
qpdf-8.2.1 ,,,fop-2.2


#######################
######XORG#############
#######################

util-macros-1.19.2
xorgproto-2018.4 ,,,fop-2.3
libXau-1.0.8
libXdmcp-1.1.2
xcb-proto-1.13
libxcb-1.13
xorg libraries
xcb-util-0.4.0
xcb-util-image-0.4.0
xcb-util-keysyms-0.4.0
xcb-util-renderutil-0.3.9
xcb-util-wm-0.4.1
xcb-util-cursor-0.1.3


js-52.2.1
polkit-0.114
accountsservice-0.6.50
modemmanager-1.8.0


libevdev-1.5.9
libdrm-2.4.93 ,,, ,,,cairo
libva-2.2.0 ,,,mesa
intel-vaapi-driver-2.2.0
libvdpau-1.1.1
mesa-18.1.6


xbitmaps-1.1.2
xorg applications
xcursor-themes-1.0.5
xorg fonts
xkeyboard-config-2.24
libepoxy-1.5.2
xorg-server1.20.1 ,,,fop
xf86-input-evdev-2.10.6
libwacom-0.29
libinput-1.11.3
xf86-input-libinput-0.28.0
xf86-input-synaptics-1.9.1
xf86-video-fbdev-0.5.0
xf86-video-intel-20180223


libass-0.14.0
fdk-aac-0.1.6
alsa-lib-1.1.6
libogg-1.3.3
flac-1.3.2 ,,,docbook-utils
libvorbis-1.3.6
libsndfile-1.0.28
lame-3.100
aalib-1.4rc5
glu-9.0.0
freeglut-3.0.0
libsamplerate-0.1.9
speex-1.2.0
alsa-plugins-1.1.6 ,,,ffmpeg,pulseaudio
alsa-utils-1.1.6
alsa-oss-1.1.6
sdl-1.2.15
libtheora-1.1.1
libvpx-1.7.0
opus-1.2.1
x264-20180819-2245
x265-2.8
sdl2-2.0.8 ,,,ibus-1.5.19
libcddb-1.3.2
libcdio-2.0.0
xvid-1.3.5
ffmpeg-4.0.2 ,,,frei0r-plugins-1.6.1,opencv-3.4.2

libvdpau-va-gl-0.4.0
twm-1.0.10
xterm-335
xclock-1.0.7
xinit-1.4.0

dbus-1.12.10
dbus-glib-0.110
gdk-pixbuf-2.36.12
libgsf-1.14.44
libxkbcommon-0.8.2
ptlib-2.10.11
bluez-5.50
udisks-2.8.0
xfsprogs-4.17.0
tk-8.6.8
python-3.7.0
wpa_supplicant-2.6
dhcpcd-7.0.1


atk-2.29.2
atkmm-2.24.2
at-spi2-core-2.28.0
at-spi2-atk-2.26.2
imlib2-1.5.1
libdrm-2.4.93
libepoxy-1.5.2
libxklavier-5.4
startup-notification-0.12


audiofile-0.3.6
faac-1.29.9.2
faad2-2.8.8
gavl-1.4.0
gstreamer-1.14.2
cdparanoia-iii-10.2
gst-plugins-base-1.14.2
gst-libav-1.14.2
id3lib-3.8.3
liba52-0.7.4
libao-1.2.0
libdiscid-0.6.2
libdvdcss-1.4.2
libdvdread-6.0.0
libdvdnav-6.0.0
libdv-1.0.0
libmad-0.15.1b
libmpeg2-0.5.1
libmusicbrainz-2.1.5
libmusicbrainz-5.1.0
libquicktime-1.2.4
##opal-3.10.10 ,,,openjdk-9.0.4 --not in blfs 8.3
sbc-1.3
sound-theme-freedesktop-0.8
soundtouch-2.0.0
taglib-1.11.1
mpg123-1.25.10
vorbis-tools-1.4.0

xdg-utils-1.1.3
mupdf-1.13.0

extra-cmake-modules-5.49.0

colord-1.4.3 ,,,docbook-utils-0.6.14,sane-1.0.27
cairo-1.14.12
pango-1.42.3
hicolor-icon-theme-0.17
gtk+-2.24.32 ,,,docbook-utils-0.6.14
gtk-engines-2.20.2
adwaita-icon-theme-3.26.1 ,,,inkscape-0.92.2
rest-0.8.1
gtk+-3.22.28 ,,,docbook-utils-0.6.14

##python modules
dbus-python-1.2.8
pycairo-1.17.1
pygobject-2.28.7
pygobject-3.28.3
libglade-2.6.4
pygtk-2.24.0
pyatspi-2.26.0

avahi-0.7
cups-2.2.8 ,,,openjdk-10.0.2,php-7.2.9
cogl-1.22.2
ghostscript-9.23
librsvg-2.42.2
poppler-0.67.0
cups-filters-1.21.1 ,,,php-7.2.9
gconf-3.2.6
pulseaudio-12.2
qt-5.11.1 ,,,ibus-1.5.19,mariadb-10.3.9,postgresql-10.5
phonon-4.10.1
v4l-utils-1.14.2
gst-plugins-good-1.14.2
clutter-1.26.2
gst-plugins-bad-1.14.2 ,,,opencv-3.4.2
gst-plugins-ugly-1.14.2
phonon-backend-gstreamer-4.9.0

libiodbc-3.52.12
NetworkManager-1.12.2

polkit-qt-0.112.0
libdbusmenu-qt-0.9.3+16.04.20160218

qtwebengine-5.11.1
falkon-3.0.1

kde frameworks 5
ark-18.08.0
konsole-18.08.0
libkdcraw-18.08.0
gwenview-18.08.0

qca-2.1.3
libcanberra-0.30
plasma ,,,ibus-1.5.19
